/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #044B78;
}

main {
    margin: 20px;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #044B78;
}

ol {
    margin-left: 20px;
}

/* Footer Styles */
footer {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    body {
        background-color: #e9f7fd;
    }

    nav {
        padding: 5px;
    }

    nav a {
        margin: 5px;
        padding: 10px;
    }

    main {
        margin: 10px;
    }

    section {
        padding: 10px;
    }

    h1, h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    main {
        margin: 5px;
    }

    section {
        padding: 5px;
    }

    h1, h2 {
        font-size: 1.2rem;
    }

    ol {
        margin-left: 10px;
    }
}
