/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #044B78;
}

main {
    margin: 20px;
    text-align: center;
}

h1, h2 {
    color: #044B78;
}

section {
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 700px;
}

audio, video {
    margin: 10px 0;
    width: 100%;
    max-width: 600px;
    outline: none;
}

ul {
    list-style-type: square;
    text-align: left;
    margin: 20px auto;
    padding: 0;
    max-width: 600px;
}

ul li {
    margin: 10px 0;
}

/* Footer Styles */
footer {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 20px;
}
